@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
h1, p{
    text-align: center;
}
ol, ul{
    display: block;
    width: 150px;
    margin: auto;
    list-style: none;
}
a{
background-color: antiquewhite;
text-decoration: none;
}
a:hover{
    color: white;
    background-color: brown;
}
a:visited{
    font-family: 'Send Flowers', cursive;
    color: blueviolet;
}
